* {
    color: white;
    font-family: "Lato";
    background-color: black;
}

.bg-grey {
    background: var(--bs-body-color);
}

.bg-blue {
    background-color: var(--bs-blue);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Catamaran" !important;
    font-weight: 800 !important;
}

.border {
    border-radius: 1px;
    border-color: red;
    border-style: solid;
}

.navbar {
    background: var(--bs-body-color);
}

.logo {
    padding: 0px;
    margin-top: 10px;
}

.navbar-spacer {
    height: 0px;
    width: 36px;
}

a {
    text-decoration: none;
    color: white;
}

.resume {
    width: auto;
    height: auto;
    transform: translate(0px,12px);
}

.github {
    width: auto;
    height: auto;
    margin-left: 1rem;
    transform: translate(0px,12px);
}

.linkedin {
    width: auto;
    height: auto;
    margin-left: 1rem;
    transform: translate(0px,12px);
}

.hover {
    width: auto;
}

.hover:hover {
    color: #ee0979;
    text-decoration-color: #ee0979;
}

.collapse.navbar-collapse {
    transform: translate(0rem, 0.0312rem);
}

.title {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

.gradient {
    background: linear-gradient(var(--bs-blue) 10%, var(--bs-body-color) 100%), var(--bs-blue);
    height: 40px;
    max-height: 40px;
}

.main-para-con {
    /*height: auto;*/
    padding: 36px 4rem 0px 4rem;
    text-align: center;
}

.main-para {
    max-width: 500px;
    height: auto;
    /*text-align: center;*/
}

.main-body {
    background-color: var(--bs-gray-900);  
    padding-left: 0px;
    padding-right: 0px;
}

.proj-title {
    padding: 0px;
    margin: auto;
    max-width: auto;
    max-height: auto;
    margin-bottom: 0px;
    /*translate: -2px;*/
    text-decoration: underline;
}

h2.proj-title {
    font-size: 35px;
}

.proj-col {
    padding: 2rem 0rem 0rem 0rem;
    text-align: center;
    max-width: 700px;
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.center {
    max-width: 1200px;
    margin: auto;
}

.minor-link {
    text-decoration: underline;
}

.about-col {
    background: linear-gradient(var(--bs-blue) 89%, var(--bs-body-color) 100%), var(--bs-blue);
}
